@media (max-width: 620px) {
  .eventsPage {
    margin: 80px auto;
  }

  // the entire card for any given event on
  // the event page
  .eventCard {
    width: 250px;
    height: 170px;

    .upcoming {
      display: none;
    }

    .evtRows {
      display: flex;
      flex-direction: column;
      width: 95%;
      align-items: center;
      justify-content: center;
      margin: 0;

      .evtRow {
        background: white;
        display: flex;
        width: 100%;
        align-items: center;
        border-bottom: solid 4px #35d3db;

        .eventDate {
          font-size: 0.7em;
        }

        i {
          padding: 7px;
          font-size: 1em;
        }
      }

      .descEvtRow {
        // this is the edit an event button

        p {
          font-size: 0.8em;
        }
        button {
          i {
            padding: 7px;
            font-size: 1.2em;
          }
        }
      }
    }

    h1 {
      font-size: 0.9em;
    }

    h5 {
      font-size: 0.7em;
    }
  }

  // add event button
  .addEvtButton {
    width: 75px;
    height: 75px;

    i {
      font-size: 3em;
    }
  }

  .exOutEvt {
    width: 75px;
    height: 75px;

    i {
      font-size: 3em;
    }
  }

  /// this is event form styling for mobile
  div #addEvent {
    margin-top: -50px;
    width: 280px;
    cursor: pointer;
  }

  div .editEventForm {
    margin-top: -50px;
    background: #141c39d8;
    width: 280px;

    // the update and delete buttons
    .updateEvtButton {
      margin-top: 25px;
    }
  }

  // errors for form
  // input error in validation
  .cnxError {
    color: pink;
    background: white;
    padding: 0;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-size: 0.8em;
    margin-bottom: 20px;
    border: solid red 2px;
    border-radius: 5px;
  }
}
