.modal {
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  transition: opacity 0.5s;
  opacity: 1;
}

.modal.hide {
  opacity: 0;
  pointer-events: none;
}
