.developerBlock {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  z-index: 12;
  justify-content: center;

  .contentAndLinks {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bmc {
    background: rgba(3, 4, 34, 0.205);
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 15;
    transition: 0.5s;

    .bmcText {
      margin-left: 15px;
      color: #35d3dbb9;
      font-size: 1.2em;
      font-family: "Alata", sans-serif;
    }
  }

  .bmc:hover {
    background: rgba(3, 4, 34, 0.493);
    transition: 0.5s;
  }

  p {
    color: rgba(255, 255, 255, 0.863);
    letter-spacing: 1.3px;
    line-height: 35px;
    font-size: 1.4em;
    width: 500px;
    font-family: "Alata", sans-serif;
    background: rgba(3, 4, 34, 0.493);
    margin: 20px;
    border-radius: 5px;
    padding: 15px;

    .tColor {
      color: #35d3db;
    }
  }

  .middle {
    display: flex;
    flex-direction: column;
    z-index: 12;
    height: 345px;
    margin-top: 15px;

    a {
      display: inline-block;
      width: 60px;
      height: 60px;
      background: white;
      margin: 10px;
      border-radius: 30%;
      color: #35d3db;
      overflow: hidden;
      position: relative;
      border: solid white 2px;
      text-align: center;

      i {
        line-height: 60px;
        font-size: 26px;
        transition: 0.2s linear;
      }
      i:hover {
        transform: scale(1.3);
        color: #f1f1f1;
      }
    }

    a:hover i {
      transform: scale(1.3);
      color: #f1f1f1;
    }

    a::before {
      content: "";
      position: absolute;
      width: 120%;
      height: 120%;
      background: #35d3db;
      transform: rotate(45deg);
      left: -110%;
      top: 90%;
    }

    a:hover::before {
      animation: aaa 0.7s 1;
      top: -10%;
      left: -10%;
    }
  }

  @keyframes aaa {
    0% {
      left: -110%;
      top: 90%;
    }
    50% {
      left: 10%;
      top: -30%;
    }
    100% {
      top: -10%;
      left: -10%;
    }
  }
}
